/* Don't change the existing CSS. */

.box {
  background-color: rgb(2, 2, 42);
  padding: 10px;
}

p {
  color: rgb(255, 255, 16);
  margin: 0;
  padding: 0;
}

.white-text{
 color: white;
}

#outer-box {
  background-color: rgb(167, 255, 36);
  padding: 2%;
}

.inner-box {
  background-color: rgb(131, 41, 41);
  padding: 2%;
}