/* Write your code here: */
h1,
h2{
    color: blueviolet;
}

.box > p{
    color: firebrick;
}

.box li{
    color: blue;
}

li.done{
    color: green;
}

ul p.done {
  font-size: 1.25rem;
  color: red;
}

body > ul > li {
  text-transform: uppercase;
  background-color: #903131;
  color: white;
}


